<div>
    <form action="" class="card-panel">
        <div class="row">
            <div class="input-field col s12 l4 m4">
                <input type="number" id="id_id" class="validate">
                <label for="id_id" data-error="wrong" data-success="right">ID</label>
            </div>
            <div class="input-field col s12 l4 m4">
                <input type="text" id="last_name" class="validate">
                <label for="last_name">Last Name</label>
            </div>
            <div style="padding-top: 10px;">
                <a class="btn-floating">
                    <i class="material-icons">search</i>
                </a>
            </div>

        </div>

        <table class="bordered highlighted">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Info</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </form>
</div>